In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Batsman standings.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Position       100 non-null    int64
 1   Player         100 non-null    object
 2   Matches        100 non-null    int64
 3   Innings        100 non-null    int64
 4   Not outs       100 non-null    int64
 5   Runs           100 non-null    int64
 6   Highest score  100 non-null    int64
 7   Average        100 non-null    float64
 8   Balls faced    100 non-null    object
 9   strike rate    100 non-null    float64
 10  100            100 non-null    int64
 11  50             100 non-null    int64
 12  4s             100 non-null    int64
 13  6s             100 non-null    int64
 14  Strength       100 non-null    int64
dtypes: float64(2), int64(11), object(2)
memory usage: 11.8+ KB

In [5]:
df.describe()

,Position,Matches,Innings,Not outs,Runs,Highest score,Average,strike rate,100,50,4s,6s,Strength
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000
mean,50.500000,92.440000,83.670000,15.450000,2022.160000,91.590000,28.828600,132.753400,0.620000,11.630000,185.750000,77.720000,263.47000
std,29.011492,49.037467,45.253284,12.613425,1352.316566,22.768086,6.318648,12.322532,1.126181,10.561656,132.589469,59.649325,179.22056
min,1.000000,16.000000,16.000000,0.000000,359.000000,40.000000,15.710000,106.800000,0.000000,0.000000,20.000000,25.000000,45.00000
25%,25.750000,55.750000,51.000000,5.750000,1013.000000,75.000000,24.617500,124.255000,0.000000,4.000000,89.250000,39.000000,128.50000
50%,50.500000,84.500000,74.000000,11.500000,1669.500000,91.000000,27.630000,130.550000,0.000000,9.000000,143.500000,55.000000,205.00000
75%,75.250000,113.250000,101.750000,21.250000,2512.500000,106.000000,31.930000,137.910000,1.000000,15.000000,245.500000,92.750000,339.25000
max,100.000000,211.000000,202.000000,70.000000,6076.000000,175.000000,46.530000,179.290000,6.000000,50.000000,634.000000,357.000000,761.00000

In [6]:
df.corr()

,Position,Matches,Innings,Not outs,Runs,Highest score,Average,strike rate,100,50,4s,6s,Strength
Position,1.000000,-0.679511,-0.738977,-0.383700,-0.767849,-0.577852,-0.430130,-0.306647,-0.492496,-0.671100,-0.669481,-0.845413,-0.776665
Matches,-0.679511,1.000000,0.970049,0.742428,0.830134,0.207822,0.101613,-0.004534,0.337411,0.654453,0.763542,0.694489,0.796021
Innings,-0.738977,0.970049,1.000000,0.640974,0.921807,0.330702,0.217758,-0.029657,0.421864,0.765534,0.866480,0.760203,0.894048
Not outs,-0.383700,0.742428,0.640974,1.000000,0.429187,-0.131882,0.081857,0.047212,0.042025,0.243668,0.276461,0.436091,0.349672
Runs,-0.767849,0.830134,0.921807,0.429187,1.000000,0.541879,0.495923,0.005642,0.615166,0.937041,0.962029,0.829148,0.987683
Highest score,-0.577852,0.207822,0.330702,-0.131882,0.541879,1.000000,0.578959,0.215979,0.745106,0.558876,0.546733,0.573234,0.595267
Average,-0.430130,0.101613,0.217758,0.081857,0.495923,0.578959,1.000000,0.071716,0.477697,0.607154,0.456105,0.441229,0.484284
strike rate,-0.306647,-0.004534,-0.029657,0.047212,0.005642,0.215979,0.071716,1.000000,0.164870,0.020167,-0.053721,0.325057,0.068444
100,-0.492496,0.337411,0.421864,0.042025,0.615166,0.745106,0.477697,0.164870,1.000000,0.603751,0.583420,0.655201,0.649689
50,-0.671100,0.654453,0.765534,0.243668,0.937041,0.558876,0.607154,0.020167,0.603751,1.000000,0.930052,0.738046,0.933705
4s,-0.669481,0.763542,0.866480,0.276461,0.962029,0.546733,0.456105,-0.053721,0.583420,0.930052,1.000000,0.694284,0.970888
6s,-0.845413,0.694489,0.760203,0.436091,0.829148,0.573234,0.441229,0.325057,0.655201,0.738046,0.694284,1.000000,0.846465
Strength,-0.776665,0.796021,0.894048,0.349672,0.987683,0.595267,0.484284,0.068444,0.649689,0.933705,0.970888,0.846465,1.000000

In [7]:
x=df.drop(['Position','Player','Balls faced','Runs','Strength','strike rate','Average'],axis=1)
y=df['Position']

In [8]:
x

    Matches  Innings  Not outs  Highest score  100  50   4s   6s
0       140      139        16            175    6  31  404  357
1       176      162        38            133    3  40  406  245
2       207      202        28            109    1  40  476  224
3       211      186        70             84    0  23  317  217
4       171      154        50             87    0  16  207  211
..      ...      ...       ...            ...  ...  ..  ...  ...
95       71       68         3             94    0  10  195   27
96       16       16         0             65    0   2   36   26
97       37       30         8             40    0   0   23   26
98       43       40         8             78    0   2   55   26
99       23       22         8             75    0   2   20   25

[100 rows x 8 columns]

In [9]:
x.shape,y.shape

((100, 8), (100,))

In [10]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.3)
from sklearn.linear_model import LinearRegression as LR
lr=LR()

model=lr.fit(x_train,y_train)

In [15]:
predict=lr.predict(x_test)
print("predicted positions:",predict)
df2=pd.DataFrame(x_test,y_test)
df2

predicted positions: [ 32.38739823  67.27763844 -30.9934782   64.61255229  56.98700463
  70.90410695  30.57449513  57.65679053  69.14516993  58.53847654
  45.39429204  67.94656538  72.80424487  32.21303262  10.43831403
  37.67856109  33.49381576  43.66173496  46.21532071  27.19646188
  54.75711649  79.11761897  -7.28748721  64.0801393   54.50906169
  26.99073646 -15.27607041  81.21762791  78.53990514  71.10465331]

          Matches  Innings  Not outs  Highest score  100    50     4s     6s
Position
27            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
87            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
3           211.0    186.0      70.0           84.0  0.0  23.0  317.0  217.0
56            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
76           65.0     54.0      10.0           71.0  0.0   3.0   77.0   37.0
94            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
17            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
74            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
55           28.0     28.0       3.0          114.0  1.0   7.0   99.0   46.0
96            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
54           88.0     69.0      19.0           61.0  0.0   7.0  101.0   48.0
93           95.0     67.0      20.0           71.0  0.0  11.0  154.0   28.0
79            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
14            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
8           145.0    141.0      16.0          117.0  4.0  21.0  376.0  190.0
31            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
23            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
25            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
34            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
9             NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
44            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
63            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
4             NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
72            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
46            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
49            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
7           148.0    148.0      19.0          126.0  4.0  50.0  525.0  201.0
100           NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
83            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN
77            NaN      NaN       NaN            NaN  NaN   NaN    NaN    NaN

In [16]:
Position=model.predict(np.array([[78,70,10,80,0,5,50,100]]))
print("Position:",Position)

Position: [42.01574471]

In [15]:
model.score(x_test,y_test)

0.7001989949709575