In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("Bowlers standings.csv")

In [4]:
df.head()

,Position,Player,Matches,Innings,Overs,Runs,Wickets,Average,Economy,Strike rate,4 wickets in an overs,5 wickets in an over
0,1,Lasith Malinga,122,122,471.1,3366,170,19.80,7.14,16.62,4,5
1,2,Amit Mishra,154,154,540.5,"3,980",166,23.97,7.35,19.54,4,1
2,3,Piyush Chawla,164,163,541.4,"4,263",156,27.32,7.87,20.83,2,0
3,4,Dwayne Bravo,144,141,463.0,"3,882",156,24.88,8.38,17.80,2,0
4,5,Harbhajan Singh,163,160,569.2,"4,030",150,26.86,7.07,22.77,1,1

In [5]:
df.describe()

,Position,Matches,Innings,Overs,Wickets,Average,Economy,Strike rate,4 wickets in an overs,5 wickets in an over
count,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,71.780000,67.530000,230.88400,65.930000,28.127000,7.917200,21.364600,1.000000,0.210000
std,29.011492,39.836935,34.937015,122.41679,35.730827,4.969587,0.668402,3.723679,1.154701,0.640312
min,1.000000,21.000000,21.000000,73.20000,27.000000,18.720000,6.230000,13.910000,0.000000,0.000000
25%,25.750000,42.000000,41.750000,136.80000,38.750000,24.820000,7.400000,18.982500,0.000000,0.000000
50%,50.500000,59.500000,58.500000,200.05000,58.000000,27.650000,7.875000,20.995000,1.000000,0.000000
75%,75.250000,93.500000,89.250000,293.02500,85.250000,30.862500,8.445000,23.072500,1.000000,0.000000
max,100.000000,191.000000,163.000000,569.20000,170.000000,46.170000,9.530000,37.060000,6.000000,5.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Position               100 non-null    int64
 1   Player                 100 non-null    object
 2   Matches                100 non-null    int64
 3   Innings                100 non-null    int64
 4   Overs                  100 non-null    float64
 5   Runs                   100 non-null    object
 6   Wickets                100 non-null    int64
 7   Average                100 non-null    float64
 8   Economy                100 non-null    float64
 9   Strike rate            100 non-null    float64
 10  4 wickets in an overs  100 non-null    int64
 11  5 wickets in an over   100 non-null    int64
dtypes: float64(4), int64(6), object(2)
memory usage: 9.5+ KB

In [7]:
df.corr()

,Position,Matches,Innings,Overs,Wickets,Average,Economy,Strike rate,4 wickets in an overs,5 wickets in an over
Position,1.000000,-0.750936,-0.863784,-0.901194,-0.931845,0.281891,0.217352,0.186391,-0.473698,-0.298793
Matches,-0.750936,1.000000,0.938717,0.855751,0.786089,0.084269,-0.193526,0.179697,0.324991,0.230713
Innings,-0.863784,0.938717,1.000000,0.973977,0.915266,0.021202,-0.237387,0.134606,0.377331,0.283051
Overs,-0.901194,0.855751,0.973977,1.000000,0.956966,-0.058859,-0.301014,0.081915,0.405871,0.320503
Wickets,-0.931845,0.786089,0.915266,0.956966,1.000000,-0.277005,-0.241294,-0.171508,0.532735,0.396232
Average,0.281891,0.084269,0.021202,-0.058859,-0.277005,1.000000,0.280248,0.879507,-0.475568,-0.180070
Economy,0.217352,-0.193526,-0.237387,-0.301014,-0.241294,0.280248,1.000000,-0.203544,-0.162024,-0.071540
Strike rate,0.186391,0.179697,0.134606,0.081915,-0.171508,0.879507,-0.203544,1.000000,-0.410267,-0.156437
4 wickets in an overs,-0.473698,0.324991,0.377331,0.405871,0.532735,-0.475568,-0.162024,-0.410267,1.000000,0.355203
5 wickets in an over,-0.298793,0.230713,0.283051,0.320503,0.396232,-0.180070,-0.071540,-0.156437,0.355203,1.000000

In [38]:
x=df.drop(['Strike rate','4 wickets in an overs','5 wickets in an over','Average','Position','Player','Runs','Economy'],axis=1)
y=df['Position']
x

    Matches  Innings  Overs  Wickets
0       122      122  471.1      170
1       154      154  540.5      166
2       164      163  541.4      156
3       144      141  463.0      156
4       163      160  569.2      150
..      ...      ...    ...      ...
95       33       33  110.0       28
96       23       23   78.5       28
97       43       37  113.5       28
98       40       40  148.0       28
99       42       41  125.0       27

[100 rows x 4 columns]

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.3)

In [40]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

model=lr.fit(x_train,y_train)

In [41]:
lr.predict(x_test)

array([ 34.97448904,  75.37027036, -19.93769078,  62.36349567,
        71.46820314,  78.7623604 ,  26.06022762,  70.99128348,
        61.33925397,  78.82597031,  61.36861195,  77.58958668,
        69.16565028,  20.07062403,   0.89248997,  41.76499094,
        32.00125582,  34.08346413,  43.26853503,   5.52007436,
        51.96645665,  66.19549011, -18.70238923,  69.63986475,
        48.11808516,  54.80162114,  -5.65508993,  79.04447642,
        73.97122086,  72.76928987])

In [42]:
model.score(x_test,y_test)

0.8747149578950537

In [44]:
Position=lr.predict([[120,120,200,130]])
print("Predicted position in standings:",Position)

Predicted position in standings: [1.18074498]